<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497367096477-qq2ha09uipvq53pe0t5f4hj403des4j8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497367096477-qq2ha09uipvq53pe0t5f4hj403des4j8</string>
	<key>API_KEY</key>
	<string>AIzaSyAscQnJS7YZw8ds09olMjzTWWFMMu8Ff2s</string>
	<key>GCM_SENDER_ID</key>
	<string>497367096477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.github.galli24.flutterInstantMessenger</string>
	<key>PROJECT_ID</key>
	<string>flutter-instant-messenger</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-instant-messenger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497367096477:ios:44929e2d7f9888edbb4874</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-instant-messenger.firebaseio.com</string>
</dict>
</plist>